.list {
  $self: &;

  margin-bottom: 30px;

  &__add-button {
    opacity: 0.4;

    &:hover {
      opacity: 1;
    }
  }

  li {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 12px;

    &:hover #{$self}__remove-icon {
      opacity: 0.2;
    }

    #{$self}__remove-icon {
      opacity: 0;

      &:hover {
        opacity: 0.8;
      }
    }

    span {
      flex: 1;
    }

    &:hover {
      background: rgba($color: #fff, $alpha: 0.5);
    }

    &.active {
      background: #fff;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.04);
      border-radius: 4px;
    }

    .badge {
      position: relative;
      left: 5px;
    }

    i {
      display: inline-flex;
      margin-right: 8px;

      svg {
        path {
          fill: #7c7c7c;
        }
      }
    }

    .badge {
      width: 10px;
      height: 10px;
      border-radius: 30px;
      position: relative;
      left: 5px;

      &--green {
        background-color: #42b883;
      }

      &--blue {
        background-color: #64c4ed;
      }

      &--pink {
        background-color: #ffbbcc;
      }
    }
  }
}
